<div class="content-wrapper">


<!-- Title -->
<div id="titleDiv">
      Fun tools
</div>
<div id="snatcherDiv">
        <p>9GAG HOTTEST</p>
</div>
<hr>

<div id="pageTextContent">
<center>
<p style="width: 70%">9gag hottest is tool witch displays currently the most
hottest (with the most points) image.</p>
</center>

</div>
<div>
<center>
<p style="font-size:20px;margin-top:5px;">
<%=title%>
</p>
<p style="font-size:20px;">
<%=points%>
</p>
<div>
<img src="<%=imglink%>" id="gag">
</div>


</center>
</div>

</div>
