<!-- Title -->
<div id="titleDiv2">
	<center>
		<p>Fun tools</p>
	</center>
</div>

<div id="snatcherDiv2">
	<center>
		<p>9GAG HOTTEST</p>
	</center>
</div>

<hr class="newstyle">

<center>
	<p style="width: 70%">9gag hottest is tool witch displays currently the most
	hottest (with the most points) image.</p>
</center>

<div>
	<img src="<%=imglink%>">
</div>

<hr class="newstyle">


<div class="content-div">
	<p>Want to scrape some site ? Click <a href="/scraper">here</a>.</p>
</div>
