<div class="content-title scrap-title">
	<br/>
	<h3>Scraping tools</h3>
	<h2>IMG Snatch</h2>
</div>

<!-- Dio za upis novog scrap-a -->
<form method="POST" action="/imgsnatch">
  <input type ="text" name="item" placeholder="Enter url..." required />
  <button type="submit" value="submit"> Snatch image</button>
</form>

<!-- Ispisujemo scrap ako ga ima ako ne neispisujemo -->
<div>
	<% if(typeof picid == 'undefined') { %>
  <% } else { %>

  <img src= "<%=picid.id%>" class="imgtool"></img>

	<% } %>
</div>
