<div class="content-title scrap-title">
	<br/>
	<h3>Scraping tools</h3>
	<h2>IMG Snatch</h2>
</div>

<!-- Dio za upis novog scrap-a -->
<div id ="scrap-table">
  <form method="POST" action="/imgsnatch">
    <input type ="text" name="item" placeholder="Enter url..." required />
    <button type="submit" value="submit"> Snatch image</button>
  </form>
</div>

<!-- Ispisujemo scrap ako ga ima ako ne neispisujemo -->
<div>
	<% if(typeof recenica == 'undefined') { %>
    <% } else { %>
<div>
  <p><%= recenica.id %></p>

  <img src= "<%=recenica.id%>" class="imgtool"></img>
</div>
<% } %>
</div>
