<div class="content-title scrap-title">
	<br/>
	<h3>Scraping tools</h3>
	<h2>Scraper</h2>
</div>

<!-- Dio za upis novog scrap-a -->
<div id ="scrap-table" class="content-div">
  <form method="POST" action="/scraper">
    <input type ="text" name="item" placeholder="Enter url..." required />
    <input type="checkbox" name="redirect">Follow redirects?</input>
    <button type="submit" value="submit"> Scrape url</button>
  </form>
</div>

<!-- Ispisujemo scrap ako ga ima ako ne neispisujemo -->
<div class="content-div">
  <p>Scrap sucessfull ???</p>
</div>



<hr>


<div class="content-div">
	<p>Want to take picture of site ? Click <a href="/imgsnatch">here</a>.</p>
</div>
