<div id ="scrap-table">
  <form method="POST" action="/">
    <input type ="text" name="item" placeholder="Enter url..." required />
    <button type="submit" value="submit"> Scrape url</button>
  </form>
</div>
