<footer>
	<ul>
		<li><h5>Site</h5></li>
		<li><a href="/">Home</a></li>
		<li><a href="/start">User account</a></li>
	</ul>
	<ul>
		<li><h5>Analyzing tools</h5></li>
		<li><a href="/scraper">URL Scrapper</a></li>
		<li><a href="/imgsnatch">IMG Scrapper</a></li>
	</ul>
	<ul>
		<li><h5>Statistic tools</h5></li>
		<li><a href="/lastanalyzes">Analyzes history</a></li>
		<li><a href="/imgprev?">Picture preview</a></li>
		<li><a href="/childs">Child URLs</a></li>
	</ul>
  <ul>
		<li><h5>About us</h5></li>
		<li><a href="#">Project</a></li>
		<li><a href="#">Team</a></li>
  </ul>
</footer>
