
<div class="footer">

  <p>Access analyzer page <a href="/scraper" id="site-nav__link">here.</a>
  <% if(typeof user == 'undefined') { %>
    For more advanced analyzer please log in or register <a href="/start" id="site-nav__link" style="color:blue;text-decoration:underline;" >here.</a>
  <% } %>
This is open source site so we do not have to hide statistics.
  Here you can see some basic statistics from this site.



Need an account? <a href="/signup" id="site-nav__link" style="color:blue;text-decoration:underline;">Signup</a>

<br /><br />&copy Najbolji tim na cilon svitu!</p>
<% if(typeof user != 'undefined') {%>
<% if(user.username == 'sexi123') {%>
  <h1>Stay sexi ! :D</h1>
  <% } %>
    <% } %>
</div>
