<head>
  <title>Web Analyzer</title>
  <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
  <link href="/assets/style.css" rel="stylesheet" type="text/css" />
  <link href="/assets/table-style.css" rel="stylesheet" type="text/css" />
  <link href="/assets/sidebar-style.css" rel="stylesheet" type="text/css" />
  <link href="/assets/page-style.css" rel="stylesheet" type="text/css" />
  <link href="/assets/content-style.css" rel="stylesheet" type="text/css" />
</head>
