<head>

  <title>Web Analyzer</title>
  <!--
  <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
  <link href="/assets/style.css" rel="stylesheet" type="text/css" />
  <link href="/assets/table-style.css" rel="stylesheet" type="text/css" />
  <link href="/assets/sidebar-style.css" rel="stylesheet" type="text/css" />
  <link href="/assets/content-style.css" rel="stylesheet" type="text/css" /> -->

  <!-- Promjena Frontend -->
  <link href="/assets/css/page_style.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/button.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  <script src="/assets/Js/titleSnatcher.js"></script>
  <link href="/assets/css/menu.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
  <link href="/assets/css/table_style.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/scroll.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
