<head>
  <title>Web Analyzer</title>
  <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
  <link href="/css/table-style.css" rel="stylesheet" type="text/css" />
  <link href="/css/sidebar-style.css" rel="stylesheet" type="text/css" />
  <link href="/css/page-style.css" rel="stylesheet" type="text/css" />
  <link href="/css/content-style.css" rel="stylesheet" type="text/css" />
  <link href="/css/navigation-style.css" rel="stylesheet" type="text/css" />
  <link href="/css/home-style.css" rel="stylesheet" type="text/css" />
  <link href="/css/home-stat-style.css" rel="stylesheet" type="text/css" />
  <link href="/css/button-style.css" rel="stylesheet" type="text/css">
  <link href="/css/partials/signup.css" rel="stylesheet" type="text/css" >
  <link href="/css/partials/login.css" rel="stylesheet" type="text/css" >

  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  <script src="/Js/titleSnatcher.js"></script>
  <link href="/css/menu.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
  <link href="/css/table_style.css" rel="stylesheet" type="text/css">
  <link href="/css/scroll.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
