<nav class="stroke">

                    <ul>
                        <div>
                        <li>Sign up</li>
                        <li><a href="/lastanalyzes"></a>Login</li>
                        <li><a href="/lastanalyzes">History</a></li>
                        <li><a href="/">Home</a></li>
                        </div>
                    </ul>
                </nav>
