<nav class="stroke">

                    <ul>
                        <div>
                        <li><a href="/signup">Sign up</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/lastanalyzes">History</a></li>
                        <li><a href="/">Home</a></li>
                        </div>
                    </ul>
                </nav>
