<ul>

	<li>
		<a href="/"> Home page </a>
	</li>

	<li>
		<a href="/start">User Account</a>
	</li>

	<li>Scraping Tools</li>
		<ul>
			<li>
				<a href="/scraper"> Scraper </a>
			</li>
			<% if(typeof user != 'undefined') { %>
			<li>
				<a href="/imgsnatch"> IMG Snatch </a>
			</li>
			<% } %>
		</ul>

	<li>Statistic Tools</li>
		<ul>
			<li>
				<a href="/lastanalyzes"> Last Analyzes </a>
			</li>
			<li>
				<a href="/sitedata"> Site Data </a>
			</li>
		</ul>

</ul>
