<ul>

	<li>
		<a href="/"> Home page </a>
	</li>

	<li>User Account</li>

	<li>Scraping Tools</li>
		<ul>
			<li>
				<a href="/scraper10"> Scraper 1.0 </a>
			</li>
			<li>
				<a href="/imgsnatch"> IMG Snatch </a>
			</li>
		</ul>

	<li>Statistic Tools</li>
		<ul>
			<li>
				<a href="/lastanalyzes"> Last Analyzes </a>
			</li>
			<li>
				<a href="/sitedata"> Site Data </a>
			</li>
		</ul>

</ul>
