<html>
  <!-- Includamo head file -->
  <% include partials/head.ejs %>

<body>

  <div id="page-header">
      <% include partials/heading.ejs %>
  </div>

  <!-- div za content stranice -->
  <div id="page-style">

    <!-- Neki tekst na front pageu -->
    <div id="page-content">
      <p>Neki tekst koji ce pisati na pocetku na homepageu</p>
    </div>
  </div>

  <!-- div za sidebar -->
  <div id="page-sidebar">
    <% include partials/sidebar.ejs %>
  </div>

</body>
</html>
