<html>
  <!-- Includamo head file -->
  <link href="/css1/page-style.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

<body>


<!---------------------------------------------------------------------------------------------------------------->

<div class="whole-page-wrapper"> <!-- wrapper cijele stranice (OPEN) -->


  <div id="navbar">
  <div class="topnav" id="myTopnav">
<a href="#home">Home</a>
<a href="#news">News</a>
<a href="#contact">Contact</a>
<a href="#about">About</a>
<a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>
  </div>   <!-- Includamo heading file, to je nav bar -->

<!--------------------------------------------------------------------------------------------------------------->

      <div class="content-page-wrapper">  <!-- wrapper cijelog contenta na stranici ispod navigation bara (OPEN)  -->


            <div class="content-wrapper">  <!-- wrapper contenta stranice (OPEN) -->

<% include other/homepage.ejs %>

                      </div>  <!-- wrapper contenta stranice (CLOSE) -->

              </div>  <!-- wrapper cijelog contenta na stranici ispod navigation bara (CLOSE)  -->

<!---------------------------------------------------------------------------------------------------------------->
                            <div class="sidebar"> <!-- div za hamburger navigation na svakoj stranici (OPEN) -->



                            </div>  <!-- div za hamburger navigation na svakoj stranici (CLOSE) -->
<!---------------------------------------------------------------------------------------------------------------->
<div class="footer">  	<!-- div za footer na svakoj stranici (OPEN) -->

    <% include partials/footer.ejs %>s

  </div>  <!-- div za footer na svakoj stranici (CLOSE) -->

<!---------------------------------------------------------------------------------------------------------------->


<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
</body>
</html>
