<html>
  <!-- Includamo head file -->
  <link href="/css1/page-style.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

<body>


<!---------------------------------------------------------------------------------------------------------------->

<div class="whole-page-wrapper"> <!-- wrapper cijele stranice (OPEN) -->


  <div id="navbar">

  </div>   <!-- Includamo heading file, to je nav bar -->

<!--------------------------------------------------------------------------------------------------------------->

      <div class="content-page-wrapper">  <!-- wrapper cijelog contenta na stranici ispod navigation bara (OPEN)  -->


            <div class="content-wrapper">  <!-- wrapper contenta stranice (OPEN) -->



                      </div>  <!-- wrapper contenta stranice (CLOSE) -->

              </div>  <!-- wrapper cijelog contenta na stranici ispod navigation bara (CLOSE)  -->

<!---------------------------------------------------------------------------------------------------------------->
                            <div class="sidebar"> <!-- div za hamburger navigation na svakoj stranici (OPEN) -->



                            </div>  <!-- div za hamburger navigation na svakoj stranici (CLOSE) -->
<!---------------------------------------------------------------------------------------------------------------->

                            <div class="footer">  	<!-- div za footer na svakoj stranici (OPEN) -->

                                <% include partials/footer.ejs %>

                              </div>  <!-- div za footer na svakoj stranici (CLOSE) -->
<!---------------------------------------------------------------------------------------------------------------->

</div>  <!-- wrapper cijele stranice (CLOSE) -->

</body>
</html>
