<html>
<head>
  <title>Scrap List</title>
  <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
  <link href="/assets/style.css" rel="stylesheet" type="text/css" />
  <script src="/assets/scrap-list.js"></script>
</head>
<body>
<div>
  <!--DODANO 05.17.2017 Div za sliku-->
  <div>
<center>  <img src="/assets/logo2.png"  id="img" width="128" height="128"></center>
</div>
</div>
  <div id ="scrap-table">
    <form>
      <input type ="text" name="item" placeholder="Enter url..." required />
      <button type="submit"> Scrape url</button>
    </form>
    <p><%=scrapped[2].url %></p>

  </div>
</body>

</html>
