<html>
  <!-- Includamo head file -->
  <% include partials/head.ejs %>

<body>

  <div id="page-header">
      <% include partials/heading.ejs %>
  </div>

  <!-- div za content stranice -->
  <div id="page-style">

    <!-- div za tablicu zadnjih analiza -->
    <div id="page-content">
      <% include tools/sitedata.ejs %>
    </div>

  </div>

  <!-- div za sidebar -->
  <div id="page-sidebar">
    <% include partials/sidebar.ejs %>
  </div>

</body>
</html>
