/*Main body styling*/
body{
    margin: 0;
}

html
{
    background-image: url("/imgs/backgr.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Poiret One', cursive;
    color: aliceblue;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
}

/*For previewing image from IMG scrap tool*/
.imgtool {
  max-height: 500px;
}

/*For previewing messages*/
.errmsg, .sucmsg, .wrnmsg, .infmsg {
  background-size: 25px 25px;
  color: black;
  border: 1px solid;
  width: 90%;
  padding: 1px 0 1px 45px;
  margin: 5px auto 5px;
  background-repeat: no-repeat;
  background-position: 10px center;
  -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
  border: 0 solid;
}

/*For previewing error messages*/
.errmsg {
  background-color: #FFBABA;
  background-image: url('../imgs/error.png');
}

/*For previewing sucessfull messages*/
.sucmsg {
  background-color: #33cc33;
  background-image: url('../imgs/sucess.png');
}

/*For previewing sucessfull messages*/
.wrnmsg {
  background-color: #f4f25f;
  background-image: url('../imgs/warn.png');
}

/*For previewing sucessfull messages*/
.infmsg {
  background-color: #b3f0ff;
  background-image: url('../imgs/info.png');
}

/*For previewing hr lines*/
hr.newstyle {
	height: 10px;
	border: 0;
  width: 90%;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}


#snatcherDiv p {
  font-size: 80px;
  font-weight: 900;
  margin: 0 auto;
}

#titleDiv p {
  font-size: 60px;
  margin: 0;
}

#snatcherDiv2 p {
  font-size: 50px;
  font-weight: 900;
  margin: 0 auto;
}

#titleDiv2 p {
  font-size: 30px;
  margin: 0;
}
