.content-title {
  height: 140px;
  width: auto;
  text-align: center;
  margin: 5px 5px 20px;
  border: 1px solid black;
}

.users-title {
  background: rgb(235, 176, 53);
}

.scrap-title {
  background: rgb(221, 30, 47);
}

.statistic-title {
  background: rgb(6, 162, 203);
}

.homepage-title {
  background: rgb(62, 122, 213);
}

.content-div {
  margin: 5px 5px 20px;
  border: 1px solid black;
  text-align: center;
}
