/* Styling za stranicu za posloziti sidebar, i topbar? i content stranice*/

/*Djelimo stranicu na 2 djela content i sidebar*/
#page-style {
  float: left;
  width: 100%;
}

/*Namjestamo content css*/
#page-content {
  margin-left: 200px; /*Set left margin to LeftColumnWidth*/
}

/*Namjestamo css od sidebar-a*/
#page-sidebar {
  position: relative;
  float: left;
  width: 200px; /*Width of left column*/
  height: 100%;
  margin-left: -100%;
  background: rgb(24, 97, 64);
  overflow: hidden;
}

#page-header {
  position: relative;
  height: 50px;
  width: 100%;
  background: rgb(25, 40, 35);
  margin: 0;
}
