body{
    background: #20324c;
    font-family: tahoma;
    color: #989898;
}

#scrap-table{
    position: relative;
    width: 95%;
    background: #090d13;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius:30px;
    opacity:0.7;
}

#scrap-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

input[type="text"]{
    width: 70%;
    padding: 20px;
    background:#181c22;
    border: 0;
    float: left;
    font-size: 20px;
    color: #989898;
}

button{
    padding: 20px;
    width: 30%;
    float: left;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

li:hover{

    background: rgba(0,0,0,0.2);
}

h1{
  border-radius: 50%;
-webkit-transition: -webkit-transform .8s ease-in-out;
        transition:         transform .8s ease-in-out;
    height:150px;
  /*  background: url(/assets/logo2.png) no-repeat center;*/
    margin-bottom: 0;
    text-indent: -10000px;
}
h1:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

p{
  text-align: center;
  font-family: 'Cinzel', serif;

  font-size: 45px;
  text-decoration: underline;

}
#div_url {

  width: 100%;
  background-color: yellow !important;
  display: inline-block;
}
#div_title {

margin-left: 5%;
  width: 30%;
  background-color: red !important;
  display: inline-block;
}
#div_time {
float: right;
  width: 30%;

  background-color: purple !important;
display: inline-block;
}
/*dodano 05.17.2017 vrtnja slike na topu*/
img {
  display:relative;
  border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
            transition:         transform .8s ease-in-out;
}
img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
#buttonview
{
  float: right !important;
position: relative;
  width: 10% !important;
  background: #23282e;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}
