/*Main body styling*/
body{
    background: rgb(208, 198, 177);
    margin: 0;
}

/*For previewing image from IMG scrap tool*/
.imgtool {
  max-height: 500px;
}

/*For previewing error messages*/
.errmsg {
  background-color: red;
  color: white;
}
