/* Stil za sve tablice koje koristimo */
.data-table {
    background: white;
}

/* Stil za header i footer od tablice (vth i dno) */
.table-thread {
  background: skyblue;
}

/* Stil za svaki drugi redak u tablici - radi lakseg pregleda */
.table-body {
  background: lightgrey;
}

/*For previewing images in tables*/
.icon {
  width: 20px;
  height: 20px;
}

.h1-style {
  text-indent: 5px;
  font-size: 18px;
}

.h2-style {
  text-indent: 15px;
  font-size: 16px;
}

.h3-style {
  text-indent: 25px;
  font-size: 14px;
}

.h4-style {
  text-indent: 35px;
  font-size: 12px;
}

.h5-style {
  text-indent: 45px;
  font-size: 10px;
}

.h6-style {
  text-indent: 55px;
  font-size: 10px;
}
