/* Stil za sve tablice koje koristimo */
.data-table{
    width: 100%;
    background: white;
    text-align: center;
}

/* Stil za header i footer od tablice (vth i dno) */
.table-thread {
  background: skyblue;
}

/* Stil za gumb u bazi */
.table-button {
  background-color: green;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  width: 80px;
  height: 40px;
}

/* Stil za svaki drugi redak u tablici - radi lakseg pregleda */
.table-body {
  background: lightgrey;
}
