<!-- Includamo navigation file -->
<% include ../partials/navigation.ejs %>

<link rel="stylesheet" type="text/css" href="css/login.css" >
<!-- Title -->
<div class="content-title users-title">
	<br/>
	<center>

<h3>User account</h3>
	<h2>Login</h2>	</center>
</div>


<!--If there is error we display it -->
<% if(error.length > 0) { %>
  <div class="errmsg">
		<center>

		<%= error %></center>
	</div>
<% } %>


<!--Login form -->
<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Log In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			<div class="sign-in-htm">
				<form action="/login" method="post">
				<div class="group">
					<label for="user" class="label">Username</label>
					<input id="user" type="text" class="input" name="username">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" data-type="password" name="password">
				</div>
				<div class="group">
					<input id="check" type="checkbox" class="check" checked>
					<label for="check"><span class="icon"></span> Keep me Loged in</label>
				</div>
				<div class="group">

					<input type="submit" class="button" value="Log In">
				</div>
				<div class="hr"></div>
</form>
			</div>
			<div class="sign-up-htm">
				<div class="group">
					<label for="user" class="label">Username</label>
					<input id="user" type="text" class="input">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" data-type="password">
				</div>


				<div class="group">
					<input type="submit" class="button" value="Sign Up">
				</div>
				<div class="hr"></div>

			</div>
		</div>
	</div>
</div>


<div class="content-div">
	<p>Need an account ? <a href="/signup">Signup</a></p>
</div>
<!-- Includamo footer file -->
<% include ../partials/footer.ejs %>
