<!-- Includamo navigation file -->
<% include ../partials/navigation.ejs %>
<!-- Title -->
<div class="content-title users-title">
	<br/>
	<center>

	<h3>User account</h3>
	<h2>Login/Register</h2></center>
</div>


<div class="content-div">
  <center>

	<p>Login or Register:</p></center>

  <center>

	<a href="/login">Login</a>
  <a href="/signup">Signup</a></center>
</div>

<!-- Includamo footer file -->
<% include ../partials/footer.ejs %>
