<!-- Title -->
<div class="content-title users-title">
	<br/>
	<h3>User account</h3>
	<h2>Login/Register</h2>
</div>


<div class="content-div">
  <p>Login or Register:</p>

  <a href="/login">Login</a>
  <a href="/signup">Signup</a>
</div>
