body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}

#liHolder{
    width:100%;
    
    border-style: solid;
    position:relative;
    
}

#liHolder ul{
    padding:0;
}

.item{
    width:85%;
    border-style: solid;
    margin:0 auto;
    margin-bottom: 30px;  
}

li{
    
    list-style: none;
}



#scroll-container {
  
  max-width: 100%;
  position: relative;
  min-height: 200px; }

.wrap-container {

  max-height: 400px;
  width: 100%;
  max-width: 100%;
  
  /* background: #eee; */
  overflow: auto;
  padding-right: 20px;
  mask: url(#masking);
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, black), color-stop(1, transparent)); }


.wrap-container ul {
    list-style: none;
    position: relative;
    transition: transform .3s;
    top: 50px; }
  .wrap-container ul, .wrap-container ul li {
    margin: 0;
    padding: 0;
    text-align: center; }
  
  .wrap-container ul li {
    
    padding-top:10px;
    line-height: 50px;
    transition: transform .3s;
    overflow: hidden; }

    .wrap-container ul li.active .item {
      transform: scale(1); }
.wrap-container ul li .item {
    position: relative;
    transition: transform 400ms;
    display: inline-block; }
#element::-webkit-scrollbar { 
    display: none; 
}

