/**********MEDIA QUERIESS ********************/
@media only screen and (max-width: 2560px){

  #titleDiv{
    font-size: 150px;
  }
  #snatcherDiv p{
    font-size: 200px;
  }

  .nav-desktop{
    top:565;
  }

  #pageTextContent{
    font-size: 50px;
  }

  #formDiv{
    width:820px;
    height:100px;
  }

  form, .container, .fieldRow , .fieldRow input, button {
    height: 80px;
  }

  .pulse{
    width:144px;
  }

  #formDiv form .fieldRow label{
    top:25;
    left:30;
    font-size: 28px;
  }

  #bottomLine{
    margin-top: 150px;
  }

.footer{
  position:absolute;
}
  .footer p{
    font-size: 25px;
  }

  .login-wrap{
    width:500px;
    height:600px;
  }

  .login-html{
    height:500px;
    width:350px;
  }

  #tab1{
    margin-left: 65px;
    font-size: 30px;
  }
  #tab2{

    font-size: 30px;
  }

  .sign-in-htm form .group #userLabel, .sign-in-htm form .group #passLabel {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

   #checkBoxGroup{
    font-size: 20px;
    margin-bottom: 30px !important;
  }
  .sign-up-htm form .group #userLabel, .sign-in-htm form .group #passLabel {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .tbl-header th{
    font-size: 30px;
  }
  .tbl-content td{
    font-size: 18px;
  }

}


@media only screen and (max-width: 1680px){

  #titleDiv{
    font-size: 100px;
  }
  #snatcherDiv p{
    font-size: 150px;
  }

  .nav-desktop{
    top:350;
  }

  #pageTextContent{
    font-size: 30px;
  }

  #formDiv{
    width:750px;
    height:80px;
  }

  form, .container, .fieldRow , .fieldRow input, button {
    height: 60px;
  }

  .pulse{
    width:122px;
  }

  #formDiv form .fieldRow label{
    top:15;
    left:30;
    font-size: 23px;
  }

  #bottomLine{
    margin-top: 150px;
  }

  .footer{
  position:static;
  }
  .footer p{
    font-size: 20px;
  }

  .login-wrap{
    width:400px;
    height:500px;
  }

  .login-html{
    height:400px;
    width:250px;
  }

  #tab1{
    margin-left: 25px;
    font-size: 25px;
  }
  #tab2{

    font-size: 25px;
  }

  .sign-in-htm form .group #userLabel, .sign-in-htm form .group #passLabel {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

   #checkBoxGroup{
    font-size: 20px;
    margin-bottom: 30px !important;
  }
  .sign-up-htm form .group #userLabel, .sign-in-htm form .group #passLabel {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .tbl-header th{
    font-size: 30px;
  }
  .tbl-content td{
    font-size: 18px;
  }







}
@media only screen and (max-width: 1440px){

  #titleDiv{
    font-size: 80px;
  }
  #snatcherDiv p{
    font-size: 120px;
  }

  .nav-desktop{
    top:300;
  }

  #pageTextContent{
    font-size: 30px;
  }

  #formDiv{
    width:820px;
    height:100px;
  }

  form, .container, .fieldRow , .fieldRow input, button {
    height: 80px;
  }

  .pulse{
    width:144px;
  }

  #formDiv form .fieldRow label{
    top:25;
    left:30;
    font-size: 28px;
  }

  #bottomLine{
    margin-top: 150px;
  }

.footer{
  position:static;
}
  .footer p{
    font-size: 15px;
  }

  .login-wrap{
    width:400px;
    height:500px;
    padding-top: 100px;
  }

  .login-html{
    height:500px;
    width:350px;
  }

  #tab1{
    margin-left: 65px;
    font-size: 30px;
  }
  #tab2{

    font-size: 30px;
  }

  .sign-in-htm form .group #userLabel, .sign-in-htm form .group #passLabel {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

   #checkBoxGroup{
    font-size: 20px;
    margin-bottom: 30px !important;
  }
  .sign-up-htm form .group #userLabel, .sign-in-htm form .group #passLabel {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .tbl-header th{
    font-size: 30px;
  }
  .tbl-content td{
    font-size: 18px;
  }

}

@media only screen and (max-width: 1280px){

  #titleDiv{
    font-size: 60px;
  }
  #snatcherDiv p{
    font-size: 100px;
  }

  .nav-desktop{
    top:250;
  }

  #pageTextContent{
    font-size: 20px;
  }

  #formDiv{
    width:600px;
    height:60px;
  }

  form, .container, .fieldRow , .fieldRow input, button {
    height: 50px;
  }

  .pulse{
    width:134px;
  }

  #formDiv form .fieldRow label{
    top:15;
    left:30;
    font-size: 20px;
  }

  .holderStats{
    margin-top: -100px;
  }

  #bottomLine{
    margin-top: 150px;
  }

.footer{
  position:static;
}
  .footer p{
    font-size: 15px;
  }

  .login-wrap{
    margin-top: 50px;
    width:300px;
    height:400px;
    padding-top: 0;
  }

  .login-html{
    margin-top: 15px;
    height:400px;
    width:250px;
  }

  #tab1{
    margin-left: 45px;
    font-size: 20px;
  }
  #tab2{

    font-size: 20px;
  }

  .sign-in-htm form .group #userLabel, .sign-in-htm form .group #passLabel {
    font-size: 20px;
    margin-bottom: 10px;
  }

   #checkBoxGroup{
    font-size: 20px;
    margin-bottom: 30px !important;
  }
  .sign-up-htm form .group #userLabel, .sign-in-htm form .group #passLabel {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .tbl-header th{
    font-size: 30px;
  }
  .tbl-content td{
    font-size: 18px;
  }

}

@media only screen and (max-width: 1024px){

  #titleDiv{
    font-size: 40px;
  }
  #snatcherDiv p{
    font-size: 80px;
  }

  .nav-desktop{
    top:150;
  }

  #pageTextContent{
    font-size: 15px;
  }

  #formDiv{
    width:450px;
    height:50px;
  }

  form, .container, .fieldRow , .fieldRow input, button {
    height: 45px;
  }

  .pulse{
    width:124px;
  }

  #formDiv form .fieldRow label{
    top:10;
    left:20;
    font-size: 15px;
  }

  .holderStats{
    margin-top: -280px;
  }


  #fdw-pricing-table  ul  li.show  div, #fdw-pricing-table  ul  li.hiddenStat  div{
    width:200px;
  }

#holder{
  margin-top: 30px;
}
  #bottomLine{
    margin-top: 150px;
  }

.footer{
  position:static;
}
  .footer p{
    font-size: 15px;
  }

  .login-wrap{
    margin-top: 20px;
    width:300px;
    height:350px;
    padding-top: 0;
  }

  .login-html{
    margin-top: -40px;
    padding:20px;

    height:290px;
    width:290px;
  }

  #tab1{
    margin-left: 50px;
    font-size: 20px;
  }
  #tab2{

    font-size: 20px;
  }

  .sign-in-htm form .group #userLabel, .sign-in-htm form .group #passLabel {
    font-size: 15px;
    margin-top:0px;
    margin-bottom: 10px;
  }

   #checkBoxGroup{
    font-size: 20px;
    margin-bottom: 30px !important;
  }
  .sign-up-htm form .group #userLabel, .sign-in-htm form .group #passLabel {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .tbl-header th{
    font-size: 30px;
  }
  .tbl-content td{
    font-size: 18px;
  }

  #arrow{
    margin-top: -100px;
    opacity:0.4;

    display: flex;
    justify-content: center;
    align-items: center;
  }

}

@media only screen and (max-width: 768px){
  #titleDiv{
    font-size: 55px;
  }
  #snatcherDiv p{
    font-size: 70px;
  }
}
@media only screen and (max-width: 600px){

  #titleDiv{
    font-size: 50px;
  }
  #snatcherDiv p{
    font-size: 60px;
  }

  .nav-desktop{
    top:150;
  }

  #pageTextContent{
    font-size: 25px;
  }

  #formDiv{
    width:450px;
    height:50px;
  }

  form, .container, .fieldRow , .fieldRow input, button {
    height: 45px;
  }

  .pulse{
    width:124px;
  }

  #formDiv form .fieldRow label{
    top:10;
    left:20;
    font-size: 15px;
  }

  .holderStats{
    margin-top: -280px;
  }

#fdw-pricing-table{
  margin-top: 150px;
}
  #fdw-pricing-table  ul  li.show  div, #fdw-pricing-table  ul  li.hiddenStat  div{
    width:200px;
  }

#holder{
  margin-top: 30px;
}
  #bottomLine{
    margin-top: 150px;
  }

.footer{
  position:static;
}
  .footer p{
    font-size: 15px;
  }

  .login-wrap{
    margin-top: 20px;
    width:500px;
    height:500px;
    padding-top: 0;
  }

  .login-html{

    padding:50px;

    height:500px;
    width:500px;
  }

  #tab1{
    margin-left: 90px;
    font-size: 30px;
  }
  #tab2{

    font-size: 30px;
  }

  .sign-in-htm form .group #userLabel, .sign-in-htm form .group #passLabel {
    font-size: 20px;
    margin-top:30px;
    margin-bottom: 10px;
  }

   #checkBoxGroup{
    font-size: 20px;
    margin-bottom: 30px !important;
  }
  .sign-up-htm form .group #userLabel, .sign-in-htm form .group #passLabel {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .tbl-header th{
    font-size: 30px;
  }
  .tbl-content td{
    font-size: 18px;
  }

  body div.whole-page-wrapper div.content-wrapper section{
    width:500px;
    margin-left: 50px;
  }

  #arrow{
    margin-top: -50px;
    opacity:0.4;
    margin-left: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
