/**********MEDIA QUERIESS ********************/
@media only screen and (max-width: 2560px){

  #titleDiv{
    font-size: 150px;
  }
  #snatcherDiv p{
    font-size: 200px;
  }

  .nav-desktop{
    top:565;
  }

  #pageTextContent{
    font-size: 50px;
  }

  #formDiv{
    width:820px;
    height:100px;
  }

  form, .container, .fieldRow , .fieldRow input, button {
    height: 80px;
  }

  .pulse{
    width:144px;
  }

  #formDiv form .fieldRow label{
    top:25;
    left:30;
    font-size: 28px;
  }

  #bottomLine{
    margin-top: 150px;
  }

.footer{
  position:absolute;
}
  .footer p{
    font-size: 25px;
  }

  .login-wrap{
    width:500px;
    height:600px;
  }

  .login-html{
    height:500px;
    width:350px;
  }

  #tab1{
    margin-left: 65px;
    font-size: 30px;
  }
  #tab2{

    font-size: 30px;
  }

  .sign-in-htm form .group #userLabel, .sign-in-htm form .group #passLabel {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

   #checkBoxGroup{
    font-size: 20px;
    margin-bottom: 30px !important;
  }
  .sign-up-htm form .group #userLabel, .sign-in-htm form .group #passLabel {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .tbl-header th{
    font-size: 30px;
  }
  .tbl-content td{
    font-size: 18px;
  }

}


@media only screen and (max-width: 1680px){

  #titleDiv{
    font-size: 100px;
  }
  #snatcherDiv p{
    font-size: 150px;
  }

  .nav-desktop{
    top:350;
  }

  #pageTextContent{
    font-size: 30px;
  }

  #formDiv{
    width:750px;
    height:80px;
  }

  form, .container, .fieldRow , .fieldRow input, button {
    height: 60px;
  }

  .pulse{
    width:122px;
  }

  #formDiv form .fieldRow label{
    top:15;
    left:30;
    font-size: 23px;
  }

  #bottomLine{
    margin-top: 150px;
  }

  .footer{
  position:static;
  }
  .footer p{
    font-size: 20px;
  }

  .login-wrap{
    width:400px;
    height:500px;
  }

  .login-html{
    height:400px;
    width:250px;
  }

  #tab1{
    margin-left: 25px;
    font-size: 25px;
  }
  #tab2{

    font-size: 25px;
  }

  .sign-in-htm form .group #userLabel, .sign-in-htm form .group #passLabel {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

   #checkBoxGroup{
    font-size: 20px;
    margin-bottom: 30px !important;
  }
  .sign-up-htm form .group #userLabel, .sign-in-htm form .group #passLabel {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .tbl-header th{
    font-size: 30px;
  }
  .tbl-content td{
    font-size: 18px;
  }







}
@media only screen and (max-width: 1440px){

  #titleDiv{
    font-size: 80px;
  }
  #snatcherDiv p{
    font-size: 120px;
  }

  .nav-desktop{
    top:300;
  }

  #pageTextContent{
    font-size: 30px;
  }

  #formDiv{
    width:820px;
    height:100px;
  }

  form, .container, .fieldRow , .fieldRow input, button {
    height: 80px;
  }

  .pulse{
    width:144px;
  }

  #formDiv form .fieldRow label{
    top:25;
    left:30;
    font-size: 28px;
  }

  #bottomLine{
    margin-top: 150px;
  }

.footer{
  position:absolute;
}
  .footer p{
    font-size: 15px;
  }

  .login-wrap{
    width:500px;
    height:600px;
  }

  .login-html{
    height:500px;
    width:350px;
  }

  #tab1{
    margin-left: 65px;
    font-size: 30px;
  }
  #tab2{

    font-size: 30px;
  }

  .sign-in-htm form .group #userLabel, .sign-in-htm form .group #passLabel {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

   #checkBoxGroup{
    font-size: 20px;
    margin-bottom: 30px !important;
  }
  .sign-up-htm form .group #userLabel, .sign-in-htm form .group #passLabel {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .tbl-header th{
    font-size: 30px;
  }
  .tbl-content td{
    font-size: 18px;
  }

}

@media only screen and (max-width: 1280px){

  #titleDiv{
    font-size: 60px;
  }
  #snatcherDiv p{
    font-size: 100px;
  }

  .nav-desktop{
    top:250;
  }

  #pageTextContent{
    font-size: 20px;
  }

  #formDiv{
    width:600px;
    height:60px;
  }

  form, .container, .fieldRow , .fieldRow input, button {
    height: 50px;
  }

  .pulse{
    width:134px;
  }

  #formDiv form .fieldRow label{
    top:15;
    left:30;
    font-size: 20px;
  }

  .holderStats{
    margin-top: -100px;
  }

  #bottomLine{
    margin-top: 150px;
  }

.footer{
  position:static;
}
  .footer p{
    font-size: 15px;
  }

  .login-wrap{
    width:300px;
    height:400px;
  }

  .login-html{
    margin-top: 15px;
    height:400px;
    width:250px;
  }

  #tab1{
    margin-left: 45px;
    font-size: 20px;
  }
  #tab2{

    font-size: 20px;
  }

  .sign-in-htm form .group #userLabel, .sign-in-htm form .group #passLabel {
    font-size: 20px;
    margin-bottom: 10px;
  }

   #checkBoxGroup{
    font-size: 20px;
    margin-bottom: 30px !important;
  }
  .sign-up-htm form .group #userLabel, .sign-in-htm form .group #passLabel {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .tbl-header th{
    font-size: 30px;
  }
  .tbl-content td{
    font-size: 18px;
  }

}


@media only screen and (max-width: 768px){
  #titleDiv{
    font-size: 55px;
  }
  #snatcherDiv p{
    font-size: 70px;
  }
}
@media only screen and (max-width: 610px){
  #titleDiv{
    font-size: 45px;
  }
  #snatcherDiv p{
    font-size: 60px;
  }
  #pageTextContent{
    font-size: 15px;
    font-weight: 900;
  }
}
@media only screen and (max-width: 582px){
  #titleDiv{
    font-size: 25px;
  }
  #snatcherDiv p{
    margin-top: 0;
    font-size: 60px;
  }
  button {
    font-size: 15px;
  }

#pageTextContent{

}

.footer p{
  font-size: 15px;
}
}
@media only screen and (max-width: 360px){
  .footer{
    position: static;
  }
}
