<div class="content-wrapper">
<div id="titleDiv">
		Made with <3 by...
</div>

<div id="snatcherDiv">
		<p>
		NAJBOLJI TIM NA CILON SVITU!
		</p>
		</div>
		<hr>

<div id="tim">
<ul id="listaTima">

<li>
<div id="branimir">


</div>
<p style="font-size:50px; text-decoration:underline;">
BRANIMIR
</p>
</li>
<li>
<div id="luka">


</div>
<p style="font-size:50px; text-decoration:underline;">
LUKA
</p>
</li>
<li>
<div id="kristina">


</div>
<p style="font-size:50px; text-decoration:underline;">
KRISTINA
</p>
</li>
<li>
<div id="sanjin">

</div>
<p style="font-size:50px; text-decoration:underline;">
SANJIN
</p>
</li>
</ul>
</div>



</div>
<hr>
