<!-- Title -->
<div class="content-title homepage-title">
	<br/>
  <h2>WEB ANALYZER</h2>
	<h3>Welcome, enjoy scrapping :)</h3>
</div>

<!-- Showing some site statistics -->
<div class="content-div">
  <p>Page statistics:</p>

  <p>
  	<strong>Users</strong>: <%= data.users %><br>
    <strong>User logins</strong>: <%= data.logins %><br>
    <strong>Scraps</strong>: <%= data.scraps %><br>
    <strong>Scrapped headings</strong>: <%= data.headings %>
  </p>
</div>
